@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  /* NAVBAR Light theme */
  --nav-bg: #ffffff;
  --nav-text: #0f172a;

  /* NAVBAR Dark theme */
  --nav-bg-dark: #0b1627;
  --nav-text-dark: #f8fafc;

  /* PAGE Light theme */
  --color-bg: #ffffff;
  --color-text: #0f172a;

  /* PAGE Dark theme */
  --color-bg-dark: #0b1627;
  --color-text-dark: #f8fafc;
}

/* Default light mode */
:root {
  --page-bg-current: var(--color-bg);
  --page-text-current: var(--color-text);

  --nav-bg-current: var(--nav-bg);
  --nav-text-current: var(--nav-text);
}

/* Dark mode */
.dark {
  --page-bg-current: var(--color-bg-dark);
  --page-text-current: var(--color-text-dark);

  --nav-bg-current: var(--nav-bg-dark);
  --nav-text-current: var(--nav-text-dark);
}

/* Animate in Dropdown */
@layer utilities {
  .dropdown-expand {
    animation: dropdownExpand 0.25s ease-out forwards;
  }

  @keyframes dropdownExpand {
    0% {
      opacity: 0;
      max-height: 0;
      transform: translateY(-6px);
    }
    100% {
      opacity: 1;
      max-height: 300px; /* enough space for your menu */
      transform: translateY(0);
    }
  }
}

/* Icon rotation animations */
@layer utilities {
  .icon-rotate-open {
    animation: rotateOpen 0.25s ease forwards;
  }

  .icon-rotate-close {
    animation: rotateClose 0.25s ease forwards;
  }

  @keyframes rotateOpen {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(90deg); }
  }

  @keyframes rotateClose {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(-90deg); }
  }
}

/* Global website background */
body {
  background-color: var(--page-bg-current);
  color: var(--page-text-current);
  transition: background-color 0.3s ease, color 0.3s ease;
}
